@font-face {
    font-family: 'MostarDesign';
    src:  url('../assets/fonts/Mostardesign-SofiaProRegular.otf');
}

@import './_variable.scss';



body{
    font-family: 'MostarDesign';
    margin:0;
    background-color: $silver;
}