@import './_variable.scss';



.modal-header{
    border-bottom:none;
    background-color: $white;
    padding:0;
}
.modal-title{
font-size:16px;
color: $night-blue;
margin-bottom:16px;
}
.modal-content{
    max-width: 375px;
    margin:auto;
    padding:20px;
    p{
        margin: 0 0 8px 0;
    }
}
.modal-body{
    padding: 0;
}
.form-input{
    padding: 7px 24px;
    border: solid 1px $blue-grey;
    background-color: $white;
}

.custom-select{
    color:$blue-grey;
    &:checked{
        color: $night-blue;
    }
}

.form-control{
   
    &::placeholder{
        color:$blue-grey;
    }

}